body {

}
.navbarf {
    background-color:brown
}
.High {
    color: orange;
    background-color:olivedrab;
    margin-right: 40px;
}
.paragraphic {
    overflow: unset;
}
.room {
    text-decoration: none;
    list-style: none
}

.xx > a {
    color: darkorange;
    text-decoration: none;
}
.xx > a:link {
    color: green
}
.xx > a:hover {
    color:darkmagenta
}
.xx > a:focus {
    color:darkslategrey;
    transition: 5s;
}

.footcolor {
    background-color: saddlebrown;
}